.header_container{
    height: 8rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.header_logo img{
    width:8rem;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    display: flex;
    gap: 1rem;
}

.header_content-detail{
    display: flex;
    background-color: white;
    padding: 0.3rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_content-detail img{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.header_content-detail text{
    margin-top: 0.5rem;
}

.header_content-arrow{
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_content-arrow-icon{
    padding: 0.7rem;
}


@media only screen and (max-width: 600px){
    
    .header_content{
        margin: 0rem;
    }

    .header_content-arrow{
        margin-right: 0.5rem;
    }
}