.app {
  display: flex;
  flex-direction: column;
  background: linear-gradient( -20deg,  rgb(227, 239, 243) 90%,  white 90%);
}


.app_container{
  display: flex;
  flex-direction: row;
  margin-top: 8rem;

}

.app_leftContainer{
  flex: 3;
}

.app_centerContainer{
  flex: 20;
}

.app_rightContainer{
  flex: 1;
}

