.rightBar_container{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    justify-content: space-around;
    bottom: 0;
    top: 0;
}

.rightBar_container-notification{
    display: flex;
    justify-content: flex-end;
}

.rightBar_container-notificationIcon{
    background-color: white;
    padding: 0.5rem;
    color: blue;
    border-radius: 5px;
    cursor: pointer;
}

.rightBar_container-add{
    display: flex;
    justify-content: end;
}

.rightBar_container-addIcon{
    color: rgb(206, 72, 94);
    cursor: pointer;
    background-color: lightblue;
    border-radius: 50%;
    padding: 1px;
    
}

@media only screen and (max-width: 1100px){
    .rightBar_container{
        display: none;
    }
}